@import '/components/root.scss';
@import '/components/reset.css';

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--body-font);
  transition: color .3s, background-color .3s;
  margin: 0;

  // 文字全般
  h1,
  h2,
  h3,
  p,
  a,
  span {
    letter-spacing: .1em;
    color: var(--text-color);
  }

  // 見出し
  h1,
  h2 {
    font-family: var(--display-font);
    font-weight: 700;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
    font-weight: 700;
  }

  // 本文

  p {
    font-weight: 500;
  }

  a {
    letter-spacing: .15em;
    font-weight: 700;
    text-decoration: none;
    transition: color .5s;
    color: var(--link-color);

    &:hover {
      color: var(--main-color);
    }
  }

  @media screen and (max-width: 764px) {

    h1,
    h2 {
      font-size: 1.5em;
    }

    p,
    a,
    span {
      line-break: strict;
      font-size: .8em;
    }
  }

  .linkarrow {
    &::after {
      margin-left: .4em;
      transition: margin-left .3s ease-in-out;
      content: "→";
    }

    &:hover::after {
      margin-left: .5em;
    }
  }

  main {
    @media screen and (min-width: 765px) {
      min-width: 765px;
      width: 50%;
    }

    min-height: 85vh;
    margin: auto;

    section {
      margin: 3em 1em;
    }
  }
}