@import '/src/root.scss';
@import '/src/reset.css';

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: color .3s, background-color .3s;
  margin: 0;

  h1,
  h2,
  h3,
  p,
  a,
  span {
    letter-spacing: .1em;
    color: var(--text-color);
  }

  @media screen and (max-width: 764px) {

    h1,
    h2 {
      font-size: 1.5em;
    }

    p,
    a,
    span {
      font-size: .8em;
    }
  }
  h2{
    font-size: 2rem;
  }
  h3{
    font-size: 1.5rem;
    font-weight: 700;
  }

  p {
    font-weight: 500;
  }

  a {
    letter-spacing: .15em;
    font-weight: 500;
    text-decoration: none;
    transition: color .5s;
    color: var(--link-color);
    &:hover {
      color: var(--main-color);
    }
  }

  main {
    @media screen and (min-width: 765px) {
      min-width: 765px;
      width: 50%;
    }

    min-height: 85vh;
    margin: auto;

    section {
      margin: 3em 1em;
    }
  }
}