@import '/src/root.scss';
@import '/src/reset.css';

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: color .3s, background-color .3s;
  margin: 0;

  h1,
  h2,
  a,
  p,
  span {
    letter-spacing: .1em;
    color: var(--text-color);
  }

  a {
    letter-spacing: .15em;
    font-weight: 500;
    transition: color .5s;

    &:hover {
      color: var(--main-color);
    }
  }

  main {
    @media screen and (min-width: 765px) {
      min-width: 765px;
      width: 50%;
    }
    min-height: 85vh;
    margin: auto;

  }
}