.msg {
    padding: 2em;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;

    h1,
    p {
        display: block;
        padding: 30px;
    }

    h1 {
        border-right: 2px solid var(--main-color);
    }
}